<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{h}}</h1>
	<hr>
	{% if todos[0] %}
	<div span="right">
	<form action="/search"	method="GET" >
		<table class="none" id="close">
		<tr>
		<td></td><td></td>
		<td><big><b>Search Reference:</b></big></td>
		<td><select name="refer" required>
			<option value="Team">Team</option>
			<option value="TestSetID">TestSetID</option>
			<option value="Tester">Tester</option>
			<option value="Failure Category">FailureCategory</option>
			<option value="First Prediction">First Prediction</option>
			<option value="Second Prediction">Second Prediction</option>
		</select></td>
		<td><input type="text" name="key" placeholder="Search Task" size="15" /></td>
		<td><button type="submit">Search</button></td>
		</tr>
		</table>
	</form>
	</div>
	<h3>Result of the Search : ToDO List</h3>
	<table>
	    <tr id="row">
		<th class="status">Status</th>
	    	<th class="Team">Team</th>
	    	<th class="TestSetID">TestSetID</th>
	    	<th class="Execution Date">Execution Date</th>
	    	<th class="Tester">Tester</th>
	    	<th class="FailedStep">FailedStep</th>
		<th class="FailedLog">FailedLog</th>
		<th class="FailureCategory">FailureCategory</th>
		<th class="First Prediction">Prediction 1</th>
		<th class="Second Prediction">Prediction 2</th>			
		<th class="func2">Modify</th>
	    </tr>
	{% for todo in todos %}
		<tr class="datas">
			<td><a href="./done?_id={{ todo['_id'] }}"><input type="image" src="static/images/{{todo['done']}}.png" alt="Submit ME"></a></td>
			<td class="Team">{{ todo["Team"] }}</td>
			<td class="TestSetID">{{ todo["TestSetID"] }}</td>
			<td class="ExecutionDate">{{ todo["ExecutionDate"] }}</td>
			<td class="Tester">{{ todo["Tester"] }}</td>
			<td class="FailedStep">{{ todo["FailedStep"] }}</td>
			<td class="FailedLog">{{ todo["FailedLog"] }}</td>
			<td class="FailureCategory">{{ todo["FailureCategory"] }}</td>
			<td class="First Prediction">{{ todo["First Prediction"] }}</td>
			<td class="Second Prediction">{{ todo["Second Prediction"] }}</td>
			<td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">EDIT</button></a></td>
		</tr>
	{% endfor %}
	{% else %}
		<h4>No Result Found !!</h4>
	{% endif %}
	</table>
	<a href="/">Return to TaskList</a>
</body>
</html>
